@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maxWidth: 1200px;
  --borderRadius: 0.75rem;

  --dialogColor: rgba(32, 39, 47, 1);
  --bgColor: rgba(23, 28, 34, 1);
  --lightGrayColor: #ebebeb;
  --lighterGrayColor: #e1e1e1;

  --borderColor: rgba(220, 220, 220, 1);
  --darkGrayColor: rgb(160, 160, 160);

  --linkColor: #0071ff;

  --primaryColor: rgba(227, 9, 111, 1);
  --primaryColor10: rgba(227, 9, 111, 0.1);
  --primaryColor20: rgba(227, 9, 111, 0.2);
  --primaryColor30: rgba(227, 9, 111, 0.3);
  --primaryColor40: rgba(227, 9, 111, 0.4);
  --primaryColor50: rgba(227, 9, 111, 0.5);
  --primaryColor60: rgba(227, 9, 111, 0.6);
  --primaryColor70: rgba(227, 9, 111, 0.7);
  --primaryColor80: rgba(227, 9, 111, 0.8);
  --primaryColor90: rgba(227, 9, 111, 0.9);

  --secondaryColor: rgba(236, 185, 130, 1);
  --secondaryColor10: rgba(236, 185, 130, 0.1);
  --secondaryColor20: rgba(236, 185, 130, 0.2);
  --secondaryColor30: rgba(236, 185, 130, 0.3);
  --secondaryColor40: rgba(236, 185, 130, 0.4);
  --secondaryColor50: rgba(236, 185, 130, 0.5);
  --secondaryColor60: rgba(236, 185, 130, 0.6);
  --secondaryColor70: rgba(236, 185, 130, 0.7);
  --secondaryColor80: rgba(236, 185, 130, 0.8);
  --secondaryColor90: rgba(236, 185, 130, 0.9);

  --successColor: rgba(30, 180, 80, 1);
  --successColor10: rgba(30, 180, 80, 0.1);
  --successColor20: rgba(30, 180, 80, 0.2);
  --successColor30: rgba(30, 180, 80, 0.3);
  --successColor40: rgba(30, 180, 80, 0.4);
  --successColor50: rgba(30, 180, 80, 0.5);
  --successColor60: rgba(30, 180, 80, 0.6);
  --successColor70: rgba(30, 180, 80, 0.7);
  --successColor80: rgba(30, 180, 80, 0.8);
  --successColor90: rgba(30, 180, 80, 0.9);

  --errorColor: rgba(244, 67, 54, 1);
  --errorColor10: rgba(244, 67, 54, 0.1);
  --errorColor20: rgba(244, 67, 54, 0.2);
  --errorColor30: rgba(244, 67, 54, 0.3);
  --errorColor40: rgba(244, 67, 54, 0.4);
  --errorColor50: rgba(244, 67, 54, 0.5);
  --errorColor60: rgba(244, 67, 54, 0.6);
  --errorColor70: rgba(244, 67, 54, 0.7);
  --errorColor80: rgba(244, 67, 54, 0.8);
  --errorColor90: rgba(244, 67, 54, 0.9);

  --warningColor: rgba(240, 156, 0, 1);
  --warningColor10: rgba(240, 156, 0, 0.1);
  --warningColor20: rgba(240, 156, 0, 0.2);
  --warningColor30: rgba(240, 156, 0, 0.3);
  --warningColor40: rgba(240, 156, 0, 0.4);
  --warningColor50: rgba(240, 156, 0, 0.5);
  --warningColor60: rgba(240, 156, 0, 0.6);
  --warningColor70: rgba(240, 156, 0, 0.7);
  --warningColor80: rgba(240, 156, 0, 0.8);
  --warningColor90: rgba(240, 156, 0, 0.9);

  --textColor: rgba(248, 248, 248, 1);
  --textColor10: rgba(248, 248, 248, 0.1);
  --textColor20: rgba(248, 248, 248, 0.2);
  --textColor30: rgba(248, 248, 248, 0.3);
  --textColor40: rgba(248, 248, 248, 0.4);
  --textColor50: rgba(248, 248, 248, 0.5);
  --textColor60: rgba(248, 248, 248, 0.6);
  --textColor70: rgba(248, 248, 248, 0.7);
  --textColor80: rgba(248, 248, 248, 0.8);
  --textColor90: rgba(248, 248, 248, 0.9);

  --textColorLight: rgb(212, 212, 212);

  --blackColor10: rgba(0, 0, 0, 0.1);
  --blackColor20: rgba(0, 0, 0, 0.2);
  --blackColor30: rgba(0, 0, 0, 0.3);
  --blackColor40: rgba(0, 0, 0, 0.4);
  --blackColor50: rgba(0, 0, 0, 0.5);
  --blackColor60: rgba(0, 0, 0, 0.6);
  --blackColor70: rgba(0, 0, 0, 0.7);
  --blackColor80: rgba(0, 0, 0, 0.8);
  --blackColor90: rgba(0, 0, 0, 0.9);
  --blackColor: rgba(0, 0, 0, 1);

  --whiteColor10: rgba(255, 255, 255, 0.1);
  --whiteColor20: rgba(255, 255, 255, 0.2);
  --whiteColor30: rgba(255, 255, 255, 0.3);
  --whiteColor40: rgba(255, 255, 255, 0.4);
  --whiteColor50: rgba(255, 255, 255, 0.5);
  --whiteColor60: rgba(255, 255, 255, 0.6);
  --whiteColor70: rgba(255, 255, 255, 0.7);
  --whiteColor80: rgba(255, 255, 255, 0.8);
  --whiteColor90: rgba(255, 255, 255, 0.9);
  --whiteColor: rgba(255, 255, 255, 1);

  --boxGrad1: linear-gradient(
    118.18deg,
    rgb(237, 212, 178) 0.99%,
    rgb(234, 185, 120) 100%
  );

  --boxShadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.1),
    0px -4px 12px -6px rgba(0, 0, 0, 0.1), -4px 0px 12px -6px rgba(0, 0, 0, 0.1),
    4px 0px 12px -6px rgba(0, 0, 0, 0.1);

  --navBarShadow: 0 0 10px 0 var(--blackColor10);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bgColor);
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  color: var(--textColor);
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b6b6b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryColor60);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor80);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  font-family: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

small {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
  display: block;

  @media screen and (min-width: 1600px) {
    font-size: 0.815rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.775rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.755rem;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 3.125rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2.225rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 2.725rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2.275rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.875rem;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.775rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.655rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.625rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.275rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.115rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.105rem;
  }
}

h5 {
  font-size: 1.05rem;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 1.075rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.025rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 1600px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.75rem;
  }
}

.app__outlined_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  width: fit-content;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 0.25rem;
  padding: 0.65rem 2rem;

  color: var(--primaryColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.5rem;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: drop-in 500ms ease 200ms backwards;

  svg {
    margin-right: 0.5rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor40);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.app__filled_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  width: fit-content;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;

  background: var(--primaryColor50);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  border-radius: var(--borderRadius);

  color: var(--whiteColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.5rem;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: drop-in 500ms ease 200ms backwards;

  svg {
    margin-right: 0.5rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.app__text_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0.25rem;

  color: var(--primaryColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: none;
  font-weight: 600;
  line-height: 1.5rem;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg {
    margin-left: 0.25rem;
  }

  &:hover {
    color: var(--primaryColor50);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.app__icon_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  outline: none;
  background-color: var(--primaryColor50);
  border: none;
  border-radius: 100%;
  padding: 0.75rem;

  color: var(--whiteColor);

  font-size: 1rem;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.btn__radius_left {
  border-radius: 100% 70% 70% 100%;
}

.btn__radius_right {
  border-radius: 70% 100% 100% 70%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes drop-out {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.drop_in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop_out {
  animation: drop-out 1s ease 200ms backwards;
}

.slide_in {
  animation: slide-in 1s ease 200ms backwards;
}

.slide_out {
  animation: slide-out 1s ease 200ms backwards;
}

/* NAVBAR ----------------------------------------- */

.menu-items {
  position: relative;
}

.menu-items a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu-items button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: var(--textColor10);
}

.menu-items button.selected {
  background-color: var(--textColor10);
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: 0;
  min-width: fit-content;
  max-width: 15rem;
  padding: 0;
  list-style: none;
  background-color: var(--dialogColor);
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  box-shadow: var(--boxShadow);

  transition: all 0.3s ease-in-out;
}

.dropdown-submenu {
  position: absolute;
  background-color: var(--dialogColor);
  left: calc(100% + 2px);
  top: 0;

  transition: all 1s ease-in-out;
}

.nav_shadow {
  box-shadow: var(--navBarShadow);
}

@media screen and (max-width: 900px) {
  .dropdown {
    width: 80%;
    left: 0.5rem;
    right: 0.5rem;
    top: 100%;
  }

  .dropdown-submenu {
    left: 0;
    top: 100%;
  }
}

.show {
  display: block;
  animation: slide-out 300ms ease 200ms backwards;
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

.constrained-width {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .constrained-width {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1500px) {
  .constrained-width {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1367px) {
  .constrained-width {
    max-width: 1080px;
  }
}

@media screen and (max-width: 900px) {
  .constrained-width {
    max-width: 100%;
  }
}

.animated__hover {
  overflow: hidden;
  z-index: 1;

  transition: all 0.5s ease-in-out;
  animation: drop-in 500ms ease 200ms backwards;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }
}

// Scroll To Top
.topToBottom {
  position: relative;
}

.iconPosition {
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
  z-index: 20;
}

.iconStyle {
  background-color: var(--whiteColor);
  border: 2px solid var(--bgColor);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  color: var(--dialogColor);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.iconStyle:hover {
  animation: none;
  background: var(--bgColor);
  color: var(--whiteColor);
  border: 2px solid var(--whiteColor);
}
