@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --maxWidth: 1200px;
  --borderRadius: 0.5rem;
  --defaultRadius: 0.5rem;

  --dialogColor10: rgba(18, 22, 27, 0.1);
  --dialogColor20: rgba(18, 22, 27, 0.2);
  --dialogColor30: rgba(18, 22, 27, 0.3);
  --dialogColor40: rgba(18, 22, 27, 0.4);
  --dialogColor50: rgba(18, 22, 27, 0.5);
  --dialogColor60: rgba(18, 22, 27, 0.6);
  --dialogColor70: rgba(18, 22, 27, 0.7);
  --dialogColor80: rgba(18, 22, 27, 0.8);
  --dialogColor90: rgba(18, 22, 27, 0.9);
  --dialogColor100: rgba(18, 22, 27, 1);
  --dialogColor: rgb(18, 22, 27);

  --bgColor10: rgba(10, 13, 15, 0.1);
  --bgColor20: rgba(10, 13, 15, 0.2);
  --bgColor30: rgba(10, 13, 15, 0.3);
  --bgColor40: rgba(10, 13, 15, 0.4);
  --bgColor50: rgba(10, 13, 15, 0.5);
  --bgColor60: rgba(10, 13, 15, 0.6);
  --bgColor70: rgba(10, 13, 15, 0.7);
  --bgColor80: rgba(10, 13, 15, 0.8);
  --bgColor90: rgba(10, 13, 15, 0.9);
  --bgColor: rgba(10, 13, 15, 1);

  --lightGrayColor: #ebebeb;
  --lighterGrayColor: #e1e1e1;

  --borderColor: rgba(220, 220, 220, 1);
  --darkGrayColor: rgb(160, 160, 160);

  --linkColor10: rgba(0, 113, 255, 0.1);
  --linkColor20: rgba(0, 113, 255, 0.2);
  --linkColor30: rgba(0, 113, 255, 0.3);
  --linkColor40: rgba(0, 113, 255, 0.4);
  --linkColor50: rgba(0, 113, 255, 0.5);
  --linkColor60: rgba(0, 113, 255, 0.6);
  --linkColor70: rgba(0, 113, 255, 0.7);
  --linkColor80: rgba(0, 113, 255, 0.8);
  --linkColor90: rgba(0, 113, 255, 0.9);
  --linkColor100: rgba(0, 113, 255, 1);
  --linkColor: rgba(0, 113, 255, 1);

  --primaryColor5: rgba(0, 177, 113, 0.05);
  --primaryColor10: rgba(0, 177, 113, 0.1);
  --primaryColor20: rgba(0, 177, 113, 0.2);
  --primaryColor30: rgba(0, 177, 113, 0.3);
  --primaryColor40: rgba(0, 177, 113, 0.4);
  --primaryColor50: rgba(0, 177, 113, 0.5);
  --primaryColor60: rgba(0, 177, 113, 0.6);
  --primaryColor70: rgba(0, 177, 113, 0.7);
  --primaryColor80: rgba(0, 177, 113, 0.8);
  --primaryColor90: rgba(0, 177, 113, 0.9);
  --primaryColor100: rgba(0, 177, 113, 1);
  --primaryColor: rgba(0, 177, 113, 1);

  --secondaryColor10: rgba(0, 237, 138, 0.1);
  --secondaryColor20: rgba(0, 237, 138, 0.2);
  --secondaryColor30: rgba(0, 237, 138, 0.3);
  --secondaryColor40: rgba(0, 237, 138, 0.4);
  --secondaryColor50: rgba(0, 237, 138, 0.5);
  --secondaryColor60: rgba(0, 237, 138, 0.6);
  --secondaryColor70: rgba(0, 237, 138, 0.7);
  --secondaryColor80: rgba(0, 237, 138, 0.8);
  --secondaryColor90: rgba(0, 237, 138, 0.9);
  --secondaryColor100: rgba(0, 237, 138, 1);
  --secondaryColor: rgba(0, 237, 138, 1);

  --successColor10: rgba(30, 180, 80, 0.1);
  --successColor20: rgba(30, 180, 80, 0.2);
  --successColor30: rgba(30, 180, 80, 0.3);
  --successColor40: rgba(30, 180, 80, 0.4);
  --successColor50: rgba(30, 180, 80, 0.5);
  --successColor60: rgba(30, 180, 80, 0.6);
  --successColor70: rgba(30, 180, 80, 0.7);
  --successColor80: rgba(30, 180, 80, 0.8);
  --successColor90: rgba(30, 180, 80, 0.9);
  --successColor100: rgba(30, 180, 80, 1);
  --successColor: rgba(30, 180, 80, 1);

  --errorColor10: rgba(244, 67, 54, 0.1);
  --errorColor20: rgba(244, 67, 54, 0.2);
  --errorColor30: rgba(244, 67, 54, 0.3);
  --errorColor40: rgba(244, 67, 54, 0.4);
  --errorColor50: rgba(244, 67, 54, 0.5);
  --errorColor60: rgba(244, 67, 54, 0.6);
  --errorColor70: rgba(244, 67, 54, 0.7);
  --errorColor80: rgba(244, 67, 54, 0.8);
  --errorColor90: rgba(244, 67, 54, 0.9);
  --errorColor100: rgba(244, 67, 54, 1);
  --errorColor: rgba(244, 67, 54, 1);

  --warningColor10: rgba(240, 156, 0, 0.1);
  --warningColor20: rgba(240, 156, 0, 0.2);
  --warningColor30: rgba(240, 156, 0, 0.3);
  --warningColor40: rgba(240, 156, 0, 0.4);
  --warningColor50: rgba(240, 156, 0, 0.5);
  --warningColor60: rgba(240, 156, 0, 0.6);
  --warningColor70: rgba(240, 156, 0, 0.7);
  --warningColor80: rgba(240, 156, 0, 0.8);
  --warningColor90: rgba(240, 156, 0, 0.9);
  --warningColor100: rgba(240, 156, 0, 1);
  --warningColor: rgba(240, 156, 0, 1);

  --textColor10: rgba(248, 248, 248, 0.1);
  --textColor20: rgba(248, 248, 248, 0.2);
  --textColor30: rgba(248, 248, 248, 0.3);
  --textColor40: rgba(248, 248, 248, 0.4);
  --textColor50: rgba(248, 248, 248, 0.5);
  --textColor60: rgba(248, 248, 248, 0.6);
  --textColor70: rgba(248, 248, 248, 0.7);
  --textColor80: rgba(248, 248, 248, 0.8);
  --textColor90: rgba(248, 248, 248, 0.9);
  --textColor100: rgba(248, 248, 248, 1);
  --textColor: rgba(248, 248, 248, 1);

  --textColorLight10: rgba(180, 180, 180, 0.1);
  --textColorLight20: rgba(180, 180, 180, 0.2);
  --textColorLight30: rgba(180, 180, 180, 0.3);
  --textColorLight40: rgba(180, 180, 180, 0.4);
  --textColorLight50: rgba(180, 180, 180, 0.5);
  --textColorLight60: rgba(180, 180, 180, 0.6);
  --textColorLight70: rgba(180, 180, 180, 0.7);
  --textColorLight80: rgba(180, 180, 180, 0.8);
  --textColorLight90: rgba(180, 180, 180, 0.9);
  --textColorLight100: rgba(180, 180, 180, 1);
  --textColorLight: rgba(180, 180, 180, 1);

  --blackColor10: rgba(0, 0, 0, 0.1);
  --blackColor20: rgba(0, 0, 0, 0.2);
  --blackColor30: rgba(0, 0, 0, 0.3);
  --blackColor40: rgba(0, 0, 0, 0.4);
  --blackColor50: rgba(0, 0, 0, 0.5);
  --blackColor60: rgba(0, 0, 0, 0.6);
  --blackColor70: rgba(0, 0, 0, 0.7);
  --blackColor80: rgba(0, 0, 0, 0.8);
  --blackColor90: rgba(0, 0, 0, 0.9);
  --blackColor100: rgba(0, 0, 0, 1);
  --blackColor: rgba(0, 0, 0, 1);

  --whiteColor10: rgba(255, 255, 255, 0.1);
  --whiteColor20: rgba(255, 255, 255, 0.2);
  --whiteColor30: rgba(255, 255, 255, 0.3);
  --whiteColor40: rgba(255, 255, 255, 0.4);
  --whiteColor50: rgba(255, 255, 255, 0.5);
  --whiteColor60: rgba(255, 255, 255, 0.6);
  --whiteColor70: rgba(255, 255, 255, 0.7);
  --whiteColor80: rgba(255, 255, 255, 0.8);
  --whiteColor90: rgba(255, 255, 255, 0.9);
  --whiteColor100: rgba(255, 255, 255, 1);
  --whiteColor: rgba(255, 255, 255, 1);

  --primaryGrad: linear-gradient(
    118.18deg,
    var(--primaryColor) 0.99%,
    var(--secondaryColor) 100%
  );

  --boxShadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.1),
    0px -4px 12px -6px rgba(0, 0, 0, 0.1), -4px 0px 12px -6px rgba(0, 0, 0, 0.1),
    4px 0px 12px -6px rgba(0, 0, 0, 0.1);

  --navBarShadow: 0 0 10px 0 var(--blackColor10);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bgColor);
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  color: var(--textColor);
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bgColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--textColor70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--textColor80);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  font-family: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  cursor: pointer;
}

small {
  line-height: 1.5;
  font-weight: 300;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

p {
  line-height: 1.5;
  font-weight: 400;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h1 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h2 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h3 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h4 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h5 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

h6 {
  line-height: 1.5;
  font-family: inherit;
  transition: all 0.5s ease-in-out;
}

.app__outlined_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  width: fit-content;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: calc(var(--defaultRadius) - 2px);
  padding: 0.5rem 1rem;

  color: var(--primaryColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5rem;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:hover {
    color: var(--whiteColor);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.app__filled_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  width: fit-content;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;

  background: var(--primaryColor);
  border-radius: calc(var(--defaultRadius) - 2px);

  color: var(--whiteColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.5rem;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--secondaryColor);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.white__filled_btn {
  background: var(--whiteColor);
  border-radius: calc(var(--defaultRadius) - 2px);

  color: var(--blackColor);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor30);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  &:disabled {
    &:hover:before {
      top: 0;
      left: 0;
      border: 0px;
      transform: translateX(-100%);
    }
  }
}

.app__text_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

  color: var(--primaryColor);
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  text-transform: none;
  font-weight: 500;
  line-height: 1.5rem;

  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.app__icon_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: none;
  order: 0;
  flex-grow: 0;

  outline: none;
  background-color: var(--primaryColor50);
  border: none;
  border-radius: 100%;
  padding: 0.75rem;

  color: var(--whiteColor);

  font-size: 1rem;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  z-index: 1;

  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--primaryColor);
    transition: all 0.5s ease;
    z-index: -1;
  }

  &:hover:before {
    top: 0;
    left: 0;
    border: 0px;
    transform: translateX(0);
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.015rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.925rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.905rem;
  }
}

.btn__radius_left {
  border-radius: 100% 70% 70% 100%;
}

.btn__radius_right {
  border-radius: 70% 100% 100% 70%;
}

.small__btn {
  padding: 0.45rem 0.9rem;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes drop-out {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes slide-out {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.drop_in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop_out {
  animation: drop-out 1s ease 200ms backwards;
}

.slide_in {
  animation: slide-in 1s ease 200ms backwards;
}

.slide_out {
  animation: slide-out 1s ease 200ms backwards;
}

.constrained-width {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .constrained-width {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1500px) {
  .constrained-width {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1367px) {
  .constrained-width {
    max-width: 1080px;
  }
}

@media screen and (max-width: 900px) {
  .constrained-width {
    max-width: 100%;
  }
}
