.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__footer-cards {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
        padding: 2rem 1rem;
        border-radius: 15px;
        background-color: var(--white-color);

        transition: all .03s ease-in-out;

        img {
            width: 60px;
            height: 60px;
            margin: 0 0.75rem;
        }

        p {
            font-weight: 600;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
        }

        &:hover {
            box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.1);
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.app__footer-form {
    width: 80%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;

        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--white-color);

        transition: all 0.3s ease-in-out;

        input,
        textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            outline: none;
            border-radius: 8px;
            background-color: var(--white-color);

            font-family: var(--font-base);
            color: var(--secondary-color);
        }

        textarea {
            height: 180px;
        }

        &:hover {
            box-shadow: 0 0 25px var(--primary-color);
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 8px;
        border: none;
        outline: none;
        background-color: var(--secondary-color);

        font-weight: 500;
        color: var(--white-color);
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}