.app__footer {
  width: 100%;
  flex-direction: column;
  padding: 2rem;

  .head-text {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5srem;
      height: 1.5rem;
      margin-left: 0.5rem;
    }
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3rem;
    transition: all 0.3s ease-in-out;

    .email {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.2rem;
      margin-top: 0.5rem;
      color: var(--whiteColor);

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      a {
        text-decoration: none;
        color: var(--whiteColor);
        margin-left: 1rem;

        &:hover {
          color: var(--grayColor);
        }
      }
    }
  }

  .app__Social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .app__social__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      a {
        color: var(--whiteColor);
        margin: 0 1rem;
        font-size: 2rem;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
