#home {
    position: relative;
    background: url('../assets/bgIMG.png');
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

    padding: 10rem 2rem 2rem;

    @media screen and (min-width: 1600px) {
        padding-top: 12rem;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        padding: 8rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width: 1600px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    .badge-cmp,
    .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;

        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .badge-cmp {
        p {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
            font-size: 14px;
            font-weight: 600;
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        background: var(--white-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        img {
            width: 60%;
            height: 60%;
        }
    }

    @media screen and (min-width: 1200px) {
        div:nth-child(1) {
            margin-left: -6rem;
            margin-bottom: -15px;
            width: 120px;
            height: 120px;
        }

        div:nth-child(2) {
            margin-left: 0.5rem;
            width: 120px;
            height: 120px;
        }

        div:nth-child(3) {
            margin: 1rem;
            margin-left: 4rem;
            width: 160px;
            height: 160px;
        }

        div:nth-child(4) {
            margin-left: 3rem;
            width: 120px;
            height: 120px;
        }

        div:nth-child(5) {
            margin-left: -2rem;
            width: 120px;
            height: 120px;
        }
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;

        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        z-index: 5;
    }

    .overlay_circle {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1200px) {
        margin: 2rem 0;
    }
}