.app__navbar {
  width: 100%;

  background-color: var(--darkBgColor);
  position: fixed;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.scrolled {
  background-color: var(--darkDialogColor);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

  p {
    color: var(--whiteColor);
    font-size: 2.5rem;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    a {
      color: var(--darkPrimaryTextColor);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      transition: border-bottom 0.1s ease-in-out;
    }

    &:hover {
      border-bottom: 2px solid var(--darkPrimaryTextColor);
    }
  }

  .active {
    a {
      color: var(--whiteColor);
    }
    border-bottom: 2px solid var(--whiteColor);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  svg {
    width: 75%;
    height: 75%;
    aspect-ratio: 1;
    object-fit: cover;
    color: var(--darkPrimaryTextColor);
    cursor: pointer;
  }

  .app__navbar-mobile {
    position: fixed;
    background-color: var(--darkDialogColor);
    top: calc(100% + 6rem);
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    visibility: hidden;
    opacity: 0;

    padding: 1rem;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    transition: all 0.5s ease-in-out;

    div {
      width: 3rem;
      height: 3rem;
      background-color: var(--darkDialogColor);
      position: relative;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 1rem;

      svg {
        width: 80%;
        height: 80%;
        aspect-ratio: 1;
        object-fit: cover;
        color: var(--darkPrimaryTextColor);
      }

      &:hover {
        background-color: var(--darkBgColor);
        border-radius: 50%;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;
        cursor: pointer;

        a {
          color: var(--darkPrimaryTextColor);
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          transition: all 0.25s ease-in-out;
        }

        &:hover {
          border-bottom: 2px solid var(--darkPrimaryTextColor);
        }
      }

      .active {
        a {
          color: var(--whiteColor);
        }
        border-bottom: 2px solid var(--whiteColor);
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .app__navbar-mobile-active {
    top: 0;
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
