.app__projects {
  width: 100%;
  flex-direction: column;

  padding: 2rem;

  .project__works {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;

    .project__work {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      transition: all 0.3s ease-in-out;
      margin-bottom: 3rem;

      .project__work__img {
        background-color: var(--darkDialogColor);
        min-width: 20rem;
        width: 25rem;
        height: 12rem;
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
      }

      .project__work__details {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .project__work__title {
          color: var(--whiteColor);
        }

        .project__work__desc {
          margin: 1rem 0;
          margin-bottom: 0;
        }

        a {
          margin: 1rem 0;
        }

        .project__work__tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .project__work__tag {
            flex: 0 0 10rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: var(--lightGrayColor);

            span {
              width: 1rem;
              height: 1rem;
              color: var(--accentColor);
              margin-right: 0.5rem;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        .project__work__details {
          margin-left: 0;
          margin-top: 1rem;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
